.ltoDetails{
    display: grid;
    grid-template-columns:repeat(6,13%);
    font-size: 14px;
}
.ltoControl{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-gap:10px ;

}

.ltoControlTriger{
    display: grid;
    grid-template-columns:repeat(2,20%);
    justify-content: center;
    grid-gap:15px;
    padding: 0px;

}
