.header {
  margin-top: 6rem;
  margin-left: 8rem;
}

.head {
  font-size: 2rem;
  font-weight: 500;
}

.body {
  font-size: 0.8rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 5rem;
}

.Home {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 3 equal columns */
  row-gap: 4rem;
}
