.mainContainer{
    margin-left: 2%;
    margin-right: 2%;
}

.mainContainer-root{
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 28.3px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 100%;
    display: flex;
    }

.childcontainerleft-renwwable{
    position: relative;
font-size: 22px;
font-weight: 600;
font-family: Poppins;
color: #2b2b2b;
text-align: left;
}
.childcontainerleft-percentage{
    position: relative;
font-size: 50px;
font-weight: 600;
font-family: Poppins;
color: #2b2b2b;
text-align: left;
}
.childcontainerleft-percentage-belowText{
    position: relative;
    font-size: 18px;
    font-weight: 500;
    font-family: Poppins;
    color: #adadad;
    text-align: left;
}
.childcontainerleft-right-percentage{
position: relative;
font-size: 24px;
font-weight: 600;
font-family: Poppins;
color: #69b931;
text-align: left;
}


.childcontainerright {
    display: flex;
    flex-direction: column;
    margin-left: '50px';
    margin-right: 2%;
  }

  


