/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aquamarine;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



 /* #chart{  */
   /* display: flex;
  justify-content:left;
  align-items:bottom;
  width:100%; 
  height: calc(100vh - 270px); 
  background: rgba(54, 162, 235, 0.2);
   display: flex;
  margin-top: 40px;
  border:1px solid black;
  box-shadow: 2px 7px #888888;
  box-shadow:inset;
  border-radius:30px; 
  
  font-family: sans-serif; */
  /* border: 1px solid;
  padding: 10px;
  box-shadow: 2px 7px #888888;
  box-shadow:inset;
  border-radius:30px; */
  /* padding-left: 50px;
  margin-left: 100px; */
  /* color: coral; */


 /* }  */


/* #date{
  display: flex;
  justify-content:left;
  display: flex;
  margin-top: 40px;
  border:1px solid black;
  box-shadow: 2px 7px #888888;
  box-shadow:inset;
  border-radius:30px; 

} */
/* #chart2{
  display: flex;
  justify-content:left;
  align-items:bottom;
  width:100%;
  display: flex;
  margin-top: 40px;
  border:1px solid black;
  box-shadow: 2px 7px #888888;
  box-shadow:inset;
  border-radius:30px; 
} */
/* * {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.chartMenu {
  width: 100vw;
  height: 40px;
  background: #1A1A1A;
  color: rgba(54, 162, 235, 1);
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
.chartCard {
  width: 100vw;
  height: calc(100vh - 40px);
  background: rgba(54, 162, 235, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 700px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: white;
} */
